#projects {
  display: flex;
  justify-content: center;
}

#projects ul {
  list-style-type: none;
  max-width: 1000px;
}

#projects li {
  max-height: 150px;
  min-height: 130px;
  padding: 15px;
}

#projects li:hover {
  background: #DDD;
  cursor: pointer;
}

#projects li a {
  text-decoration: none;
  color: black;
}

#projects li img {
  float: left;
  margin-right: 15px;
  width: 180px;
}

#projects li p {
  font-family: serif;
  font-size: 16px;
}
